.container_combo{
    display : flex;
    justify-content: space-around;
    text-align: center;
    
    .contenedor_combo{
        background-color: grey;
        margin: 20px;
        border-radius: 10px;
        padding: 20px;
        .contenido_combo{
            background-color:white;
            display: flex;
            margin: 10px;
            img{
                width: 100px;
                height: 100px;
            }
        }
    }
    .eleccion_tipo{
        display: flex;
        justify-content: center;
        img{
            width: 100px;
            height: 100px;
            margin: 40px;
            .texto_combo{
                text-align: center;
            }
        }
        .eleccion_procesadores{
            margin: 80px;
            border: 1px solid black;
            padding: 10px 30px;
        }
    }
}
@media (max-width: 768px){
    .contenedor_combo{
        display: none;
    }
    .eleccion_tipo{
        flex-direction: column;
    }
}