.container_comboActualizacion{
    margin: 0 auto;
    max-width: 100%;
    .padding_comboActualizacion{
        padding:0 15px;
        margin-top: 30px;
        .row_comboActualizacion{
            display: flex;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
            .componentes_comboactualizacion{
                border: 1px solid #ddd;
                border-radius:4px;
                background-color: #e7eaec;
                padding:0 30px;
            }
        }
    }
}