
.contenido_error{
    margin-top: 200px;
    margin-left: 200px;
    display:flex;
    .error_title{
    font-size: 150px;
    color: red;
    display: flex;
    }
    p{
        font-size: 50px;
    }
    button{
        color:white;
        background:red;
        width: 200px;
        margin-left: 200px;
        a{
            font-size: 20px;
            color:white;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}
@media (max-width: 768px){
    
.contenido_error{
    margin-top:100px;
    display:flex;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    flex-direction: column;
    .error_title{
    font-size: 70px;
    justify-content: center;
    }
    p{
        font-size: 40px;
    }
    button{
        color:white;
        background:red;
        width: 200px;
        margin-left: auto;
    }
    .imagen_error2{
    width: 70%;
    height: 70%;
    margin: 20px 20px;
}
}

}
