footer {
    background-color: gray;

    .footer_container {
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
        font-style: normal;
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        justify-content: center;
        .footer_categorias {
            font-size: 16px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            display: block;
            color: white;
        }
        .footer_redescategorias {
            font-size: 16px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            display: block;
            color: white;
        }
        .footer_title {
            font-size: 25px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            color: white;
            text-decoration: underline;
        }
        .footer_redestitle {
            font-size: 25px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            color: white;
            text-decoration: underline;
        }

        .footer_link {
            text-decoration: none;
            color: $colordeletrasdelinks;
            display: block;
            padding: 5px;
        }

        .footer_link--over:hover {
            text-decoration: underline;
        }
        ul{
            list-style-type: none;
        }
        .footer_redes{
            display: flex;
            height: 100px;
            align-items: center;
            justify-content:center;
            ul:hover a{
                filter: blur(2px);
            }
            li{
                display: inline-block;
                margin: 0 5px;
                width: 50px;
                height: 50px;
                text-align: center;
                a{
                    display: block;
                    padding: 0 10px;
                    background-color: #333;
                    color: white;
                    line-height: 50px;
                    font-size: 18px;
                    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2,);
                    transition: .2s
                }
                a:hover{
                    transform: translateY(-3px) scale(1.05);
                    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4,);
                    filter: none;
                }
                .facebook:hover{
                    background-color:#3b5998
                }
                .instagram:hover{
                    background-color: #e4405f
                }
                .youtube:hover{
                    background-color:red
                }
                .twitter:hover{
                    background-color:#55acee
                }
            }
        }
    }
}
@media (max-width: 768px){
footer {
    background-color: gray;

    .footer_container {
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
        font-style: normal;
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        justify-content: center;
        
        .footer_categorias {
            font-size: 16px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            display: block;
            color: white;
            display:none;
            
        }
        .footer_redescategorias {
            font-size: 16px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            display: block;
            color: white;
            
        }
        .footer_title {
            font-size: 20px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            color: white;
            display: none;
        }
        .footer_redestitle {
            font-size: 20px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            color: white;
        }

        .footer_link {
            text-decoration: none;
            color: $colordeletrasdelinks;
            display: block;
            padding: 5px;
        }

        .footer_link--over:hover {
            text-decoration: underline;
        }
        ul{
            list-style-type: none;
        }
        .footer_redes{
            display: flex;
            height: 100px;
            align-items: center;
            justify-content:center;
            ul:hover a{
                filter: blur(2px);
            }
            li{
                display: inline-block;
                margin: 0 5px;
                width: 50px;
                height: 50px;
                text-align: center;
                a{
                    display: block;
                    padding: 0 10px;
                    background-color: #333;
                    color: white;
                    line-height: 50px;
                    font-size: 18px;
                    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2,);
                    transition: .2s
                }
                a:hover{
                    transform: translateY(-3px) scale(1.05);
                    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4,);
                    filter: none;
                }
                .facebook:hover{
                    background-color:#3b5998
                }
                .instagram:hover{
                    background-color: #e4405f
                }
                .youtube:hover{
                    background-color:red
                }
                .twitter:hover{
                    background-color:#55acee
                }
            }
        }
    }
}
}