*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_es{
    display: flex;
}
header{
    background-color: black;
    width: 100%;
    
    li{
        list-style: none;
    }
    .header_log{
        width: 60%;
        height: 100%;
    }
    .container_carrito{
        margin-left: 75%;
        margin-top: 34px;
        position: absolute;
    }
    #btn_menu{
        display:none;
        margin-right: 500px;
        }
        #btn_buscar{
            display:none;
            margin-right: 500px;
            }
        label{
            display: none;
            width: 30px;
            height: 30px;
            padding:10px;
        }
        .lugar{
            position: relative;
            top: 20%;
            display: flex;
            text-align: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            .boton_lupa{
                color: white;
                background-color:red;
            }
        }
        .carrito{
            display: flex;
            color:white;
            font-size:30px;
            margin-left: 80%;
            position: absolute;
            
        }
        
        li{
            flex-wrap: 1;
        }
        .header_menu{
            margin: 0;
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-around;
            position: relative;

        }
        .header_linksDeNavegacion {
            text-decoration: none;
            color: white;
            padding: 5px 20px;
            font-size: 18px;
            display: block;
            span{
                margin-left:40px;
                font-size:15px;
                display: none;
            }
        }

        .header_linksDeNavegacion--over:hover {
            color: red;
            transition: all 0.4s;
            
        }


        .header_subitems {
            display: none;
            position: absolute;
        }

        li:hover>ul {
            display: block;
            transition: all 0.4s;

            .header_columnaDeNav {
                display: flex;
                background-color: black;

                ul {
                    list-style: none;
                }

                .header_subitemsproductos {
                    color: white;
                    text-decoration: none;
                    padding: 10px 50px;
                    display: block;
                    transition: all 0.4s;
                }

                .header_subitems--over:hover {
                    color: red;
                    background-color: white;
                }

                .header_subitemsTitulo {
                    color: red;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 10px 50px;
                    display: block;
                    transition: all 0.4s;
                }
            }
        }
    }
    @media (max-width: 768px) {
        header label {
            display: block;
        }
        .menu {
            position: absolute;
            background:black;
            width: 100%;
            margin-left: -100%;
            transition: all .2s;
            text-align: center;
        }
        li{
            padding: 10px;
        }
        .menu ul{
            flex-direction: column;
        }
        #btn_menu:checked ~ .menu{
            margin: 0;
        }
        #btn_buscar:checked ~ .buscar{
            margin: 0;
        }
        .buscar {
            position: absolute;
            background:black;
            width: 100%;
            margin-left: -100%;
            transition: all .2s;
            text-align: center;
        }
        img{
            width: 100%;
            height: 120px;
        }
        .boton{
        margin-left: 70%;
        margin-top: -80px;
        position: absolute;
        font-size:30px;
        color: white;
        
    }
    .header_columnaDeNav {
        flex-direction: column;
    }
    .boton_two{
        margin-left: 57%;
        margin-top: -80px;
        position: absolute;
        font-size:30px;
        color: white;
    }
    .tamaño_carusel{
        height:400px;
        width: 100%;
    }
    .container_logo{
        width: 80%;
    }
        
    
    }